<div data-ng-init="onloadFun()">
   
    <div class="more_title">Welcome to Zensar</div>
   
     <div style="width:100%;" class="use_field">
    <div style="font-size:20px;display:inline-block;width:20%;">Name:</div>
    <div style="font-size:20px;display:inline-block;width:78%;">{{moredata[0].name}}</div>
 </div>
    <div  class="use_field">
    <div style="font-size:20px;display:inline-block;width:20%;">Version:</div>
    <div style="font-size:20px;display:inline-block;width:78%">{{moredata[0].version}}</div>
 </div>
    <div  class="use_field">
    <div style="font-size:20px;display:inline-block;width:20%;">Release Date:</div>
    <div style="font-size:20px;display:inline-block;width:78%;vertical-align:top;">{{moredata[0].release_date}}</div>
 </div>
    <div  class="use_field">
    <div style="font-size:20px;display:inline-block;width:20%;">Mail to:</div>
    <div style="font-size:20px;display:inline-block;width:78%">{{moredata[0].email}}</div>
 </div>
    <div  class="use_field_about">
    <div class="more_title2">ABOUT US</div>
    <div style="font-size:20px;display:inline-block;width:100%">{{moredata[0].description}}</div>
 </div>


 <div style="text-align:center;margin-top:40px "> <a href="#/home">Back</a></div> 


</div>